* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f7f9fc;
  color: #111;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #3578e5, #3a7bd5);
  color: white;
  padding: 20px 80px;
}

.logo h1 {
  font-size: 28px;
  font-weight: 700;
}

.logo p {
  font-size: 16px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

/* ====== PRODUCTS ====== */
.products {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 20px;
}

.product {
  background: white;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  width: 280px;
}

.product img {
  width: 160px;
  height: auto;
  margin-bottom: 20px;
}

.product h2 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.product p {
  font-size: 15px;
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #3578e5;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #245ec7;
}

footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  text-align: center;
}

.footer-info p {
  margin: 6px 0;
}

.footer-info a {
  color: #000;
  text-decoration: none;
  margin: 0 8px;
}

.footer-info a:hover {
  text-decoration: underline;
}
