body {
    background: #53ed00;
background: linear-gradient(90deg,rgba(83, 237, 0, 1) 18%, rgba(237, 0, 0, 1) 63%, rgba(255, 0, 230, 1) 81%);
}

.vizytka-center {
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
    margin: auto;
}
.vizytka {
    display: block;
    width: 400px;
    block-size: 200px;
    background-color: white;
    border-radius: 10px;
    place-items: center;
    box-shadow: 0px 10px 40px 6px;
}
.knipka {
    display: flex;
    background-color: #5252dd;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: background-color 0.223s, box-shadow 0.223s, color 0.233s;
}

.knipka:hover {
    background-color: #3d3d9e;
    box-shadow: 0px 0px 40px yellow;
}

h2 {
    font-size: 20px;
    color: white;
    transition: color 0.233s;
}

